.description-product {
    font-family: Arial, "Roboto", sans-serif; 
    color: #fff;
    /* float: right;
    width: 550px; */
}

.description-product > .title {
    font-size: 25px;
    margin-bottom: 100px;
    /* line-height: 1.2;
    margin: 30px 0 30px 0; */
}

.description-product > .item {
    font-size: 20px;
    margin-bottom: 28px;
}

.description-product > .item.-info {
    width: 200px;
    text-align: right;
}

.description-product > .item.-last {
    margin-bottom: 72px;
}
.description-product .contrast {
    text-transform: uppercase;
    float: left;
}

.description-product > .details {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.description-product > .details.-more {
    margin-bottom: 98px;
}

.description-product .action {
    color: inherit;
    text-decoration: none;
}