body {
    font-family: 'SegoeUI', sans-serif;
}

header {
    background-color: #e24647;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 40px;
}

h1, a {
    color: #fff;
}

a {
    text-decoration: none;
    font-size: 21px;
}